.footer {
  //position: absolute;
  bottom: 0;
  background: #111;
  color: #fff;
  padding: 40px;
}
.footerTop {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.footerTopLeft {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  ul {
    width: 25%;
    list-style: none;
    line-height: 30px;
    .smallGray {
      font-size: 12px;
      color: #7e7e7e;
    }
  }
}
.line {
  border: 1px solid #222;
  margin: 20px 0;
}
